//  ~*~ HEADER ~*~
.titlebar {
    background-color: #7c0242;
    padding: 15px;
    h1 {
        color: #fff;
        font-size: 35px;
        line-height: 38px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 374px) {
    .titlebar {
        padding: 15px;
        h1 {
            font-size: 25px;
            line-height: 30px;
        }
    }
}
